<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Sorpresa de Cumpleaños!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}">
</head>
<body>
    <div id="escenaLuna" class="oculto-luna">
        <img id="planetaTierra" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Earth_Western_Hemisphere_transparent_background.png/600px-Earth_Western_Hemisphere_transparent_background.png" alt="Tierra desde el espacio">
        
        <div id="planetaLuna"></div>
        
        <h1 id="nombreLuna" class="nombre-luna oculto">Luna</h1>

        <div id="frasesPoeticas" class="frases-luna"></div>
    </div>
    <audio id="musicaFondo" loop>
        </audio>
    <audio id="musicaFondo" loop>
        <source src="{{ url_for('static', filename='cancion.mp3') }}" type="audio/mpeg">
    </audio>

    <div class="contenedor">
        <div class="caja-regalo" id="botonRegalo">
            <div id="tapaRegalo" class="icono-regalo">🎁</div>
            <div id="textoRegalo">Toca aquí para abrir tu regalo</div>
        </div>

        <div id="contenidoSorpresa" class="oculto">
            <div id="pastel" class="pastel-animado">🎂</div>
            <h1 id="tituloMensaje"></h1>
            <div id="listaMensajes" class="mensajes"></div>
            <p id="firmaMensaje" class="firma oculto"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>